{
  "arrowParents": "avoid",
  "endOfLine": "lf",
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "/routes/",
    "/middleware/",
    "^../(.*)",
    "^./(.*)"
  ],
  "importOrderSeparator": true,
  "importOrderSortSpecifiers": true,
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "useTabs": false
}
