<!DOCTYPE html>
<html>
{{> head}}
<body>
    <div class="form">
        <form action="/forms/change" method="post">
            <h3>{{ title }}</h3>
            <div>
                <input
                    name="code"
                    type="hidden"
                    value="{{ query.code }}"
                >
            </div>
            <div class="form-group">
                <input
                    class="form-control item"
                    id="username"
                    name="username"
                    placeholder="Email"
                    required
                    type="email"
                    value="{{ query.username }}"
                >
            </div>
            <div class="form-group">
                <input
                    class="form-control item"
                    id="password"
                    minlength="8"
                    name="password"
                    placeholder="Новый пароль"
                    required
                    type="password"
                    value="{{ query.password }}"
                >
            </div>
            {{> errors}}
            {{> button button='Сменить пароль'}}
        </form>
        <div class="bottom">
            Вспомнили пароль?
            {{> auth}}
        </div>
    </div>
</body>
</html>