@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

html {
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

body {
  font-family: "Play", sans-serif;
  font-weight: 400;
  font-style: normal;
}

p {
  margin: 0.5em 0;
}

.form {
  width: 250px;
  padding: 50px 50px 10px;
  border-radius: 10px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.form h3 {
  font-weight: bold;
  margin-bottom: 30px;
  text-align: center;
}

.form .form-group {
  border-bottom: 1px solid #555;
  margin-bottom: 10px;
}

.form .item {
  border: none;
  color: #555;
  display: block;
  font-size: 15px;
  height: 2.5em;
  line-height: 1.2;
  outline: none;
  padding: 0 5px;
  width: 100%;
}

.form .btn {
  background-color: #9457ef;
  border: none;
  border-radius: 100px;
  color: white;
  cursor: pointer;
  font-size: 15px;
  margin-top: 20px;
  padding: 10px;
  width: 100%;
}

.form .btn:hover {
  background-color: #7b40d4;
}

.oauth {
  display: block;
  font-size: 12px;
  padding: 20px 0;
  text-align: center;
}

.bottom {
  display: block;
  font-size: 12px;
  padding: 20px 0;
  text-align: center;
}

.link-group {
  display: flex;
  justify-content: center;
  align-items: center;
}

.link {
  padding: 0 4px;
}
