<% if (query.error || query.message) { %>
    <div class="form-error">
        <% if (query.error) { %>
            <p>
                <%= 
                    {
                        'bad request': 'Ошибка',
                        'unauthorized': 'Ошибка авторизации',
                        'unsupported_grant_type': 'Неподдерживаемый тип авторизации',
                    }[
                        `${query.error}`.toLowerCase()
                    ]
                %>.
            </p>
        <% } %>
        <% if (query.message) { %>
            <p>
                <%=
                    {
                        'invalid confirm code': 'Неверный код подтверждения',
                        'invalid reset code': 'Неверный код сброса пароля',
                        'invalid password': 'Неверный логин или пароль',
                        'unknown error': 'Что-то пошло не так',
                        'user not found': 'Пользователь не найден',
                        'username must be an email': 'Вы некорректно указали электронную почту',
                        'user with this username is already in the system': 'Пользователь уже зарегистрирован',
                        'specified type of grant_type field is not supported in this request': 'Тип авторизации не задан или не поддерживается в этом запросе',
                    }[
                        `${query.message}`.toLowerCase()
                    ]
                %>.
            </p>
        <% } %>
    </div>
<% } %>
