<% if (strategies?.length) { %>
<div class="oauth">
    <p>Войти с помощью</p>
    <div class="link-group">
        <% if (strategies?.includes('leader')) { %>
            <a class="link" href="<%= prefix %>/auth/strategies/leader/login"><img src="/img/leader_logo.svg"></a>
        <% } %>
        <% if (strategies?.includes('google')) { %>
            <a class="link" href="<%= prefix %>/auth/strategies/google/login"><img src="/img/google_logo.svg"></a>
        <% } %>
        <% if (strategies?.includes('unti')) { %>
            <a class="link" href="<%= prefix %>/auth/strategies/2035/login"><img src="/img/unti_logo.svg"></a>
        <% } %>
        <% if (strategies?.includes('oauth')) { %>
            <a class="link" href="<%= prefix %>/auth/strategies/oauth/login"><img src="/img/oauth_logo.svg"></a>
        <% } %>
    </div>
</div>
<% } %>
