<div class="oauth">
    <p>Войти с помощью</p>
    <div class="link-group">
        <a class="link" href="/strategies/leader/login"><img src="/img/leader_logo.svg"></a>
        <a class="link" href="/strategies/google/login"><img src="/img/google_logo.svg"></a>
    </div>
</div>
