<!DOCTYPE html>
<html>
<%- include('partials/head.ejs') %>
<body>
    <div class="form">
        <div class="form-message">
            <p>Поздравляем!</p>
            <p>Вы успешно сменили пароль.</p>
        </div>
        <div class="form-footer">
            <a class="btn btn-link" href="/forms/auth.html">Войти</a>
        </div>
    </div>
</body>
</html>