<!DOCTYPE html>
<html>
{{> head}}
<body>
    <div class="form">
        <form action="/forms/confirm" method="post">
            <h3>{{ title }}</h3>
            <div class="form-group">
                <input
                    class="form-control item"
                    id="code"
                    name="code"
                    placeholder="Код подтверждения"
                    required
                    type="text"
                    value="{{ query.code }}"
                >
            </div>
            {{> errors}}
            {{> button button='Подтвердить регистрацию'}}
        </form>
        <div class="bottom">
            Уже подтвержден?
            {{> auth}}
        </div>
    </div>
</body>
</html>