<!DOCTYPE html>
<html>
<%- include('partials/head.ejs') %>
<body>
    <div class="form">
        <div class="form-message">
            <p>Поздравляем!</p>
            <p>Вы успешно подтвердили свою учетную запись.</p>
        </div>
        <div class="form-footer">
            <a class="btn btn-link" href="<%= prefix %>/auth/auth.html">Войти</a>
        </div>
    </div>
</body>
</html>