<!DOCTYPE html>
<html>
{{> head}}
<body>
    <div class="form">
        <form action="/forms/register" method="post">
            <h3>{{ title }}</h3>
            <div class="form-group">
                <input
                    class="form-control item"
                    id="username"
                    name="username"
                    placeholder="Email"
                    required
                    type="email"
                    value="{{ query.username }}"
                >
            </div>
            <div class="form-group">
                <input
                    class="form-control item"
                    id="password"
                    minlength="8"
                    name="password"
                    placeholder="Пароль"
                    required
                    type="password"
                    value="{{ query.password }}"
                >
            </div>
            {{> errors}}
            {{> button button='Зарегистрироваться'}}
        </form>
        <div class="bottom">
            Уже есть аккаунт?
            {{> auth}}
        </div>
    </div>
</body>
</html>