<!DOCTYPE html>
<html>
<%- include('partials/head.ejs') %>
<body>
    <div class="form">
        <div class="form-message">
            <p>Поздравляем!</p>
            <p>Вы успешно зарегистрировались в системе.</p>
            <p>Проверьте электронную почту.</p>
            <p>На нее придет ссылка на активацию аккаунта.</p>
        </div>
        <div class="form-footer">
            <a class="btn btn-link" href="/auth/auth.html">Войти</a>
        </div>
    </div>
</body>
</html>