<!DOCTYPE html>
<html>
{{> head}}
<body>
    <div class="form">
        <form action="/forms/restore" method="post">
            <h3>{{ title }}</h3>
            <div class="form-group">
                <input
                    class="form-control item"
                    id="username"
                    name="username"
                    placeholder="Email"
                    required
                    type="email"
                    value="{{ query.username }}"
                >
            </div>
            {{> errors}}
            {{> button button='Восстановить пароль'}}
        </form>
        <div class="bottom">
            Вспомнили пароль?
            {{> auth}}
        </div>
    </div>
</body>
</html>