<!DOCTYPE html>
<html>
<%- include('partials/head.ejs') %>
<body>
    <div class="form">
        <div class="form-message">
            <p>Проверьте электронную почту.</p>
            <p>На нее придет ссылка на смену пароля.</p>
        </div>
        <div class="form-footer">
            <a class="btn btn-link" href="/forms/restore.html">Попробовать еще раз</a>
        </div>
    </div>
</body>
</html>