<a href="<%= data.url %>" style="
    display: inline-block;
    background-color: #9457ef;
    border: none;
    border-radius: 100px;
    color: white;
    cursor: pointer;
    font-size: 15px;
    padding: 10px 30px;
    text-decoration: none;
"><%= button %></a>
